<h1>Listing tag_aliases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_aliases.each do |tag_alias| %>
      <tr>
        <td><%= tag_alias.name %></td>
        <td><%= tag_alias.tag %></td>
        <td><%= link_to 'Show', tag_tag_aliases_url %></td>
        <td><%= link_to 'Destroy', [tag_alias.tag, tag_alias], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag alias', new_tag_tag_alias_path %>
