<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag_alias.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @tag_alias.tag %>
</p>

<%= link_to 'Edit', edit_tag_alias_path(@tag_alias) %> |
<%= link_to 'Back', tag_aliases_path %>
