<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @like.user %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @like.tag %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @like.restaurant %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
