<div class = "jumbotron">
  <div class = "container text-center">
    <h1>Start searching for the best food! </h1>
    <%= simple_form_for @tag, url: tag_path do |f| %>
    <%= f.input :name %>
    <%= f.button :submit %>
    <% end %>
    <h2> Tag pool </h2>
    <% @tags.each do |tag| %>
    <button type="button" class="btn btn-primary"><%=@tag.name%></button>
    <% end %>
  </div>
</div>