<div class = "row">
	<h1>View 1: <small>List all restaurants in a city “Oshawa”
with a like from user with user_id “5”</small></h1>
	<h4>SQL Query:</h4>
	<code>SELECT DISTINCT restaurants.id, Restaurants.name 
										FROM ((restaurants JOIN restaurant_locations ON restaurants.id=restaurant_locations.restaurant_id) 
										JOIN Likes ON restaurants.id=Likes.restaurant_id) 
										WHERE (restaurant_locations.city = 'oshawa' AND Likes.user_id = 1)</code>
<table class = "table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Restaurant Name</th>
		</tr>
	</thead>
	<tbody>
		<% @view1.each do |v1| %>
		<tr>
			<td><%= v1.id %></td>
			<td><%= v1.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>


<div class = "row">
	<h1>View 3: <small>List all restaurants in a specific city
In this example, city is “Oshawa”</small></h1>
	<h4>SQL Query:</h4>
	<code>SELECT DISTINCT
											restaurants.id, restaurants.name
											FROM
											restaurants , restaurant_locations 
											WHERE
											(restaurant_locations.city = 'oshawa' AND restaurants.id =
											restaurant_locations.restaurant_id)</code>

<div class = "row">
<table class = "table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Restaurant Name</th>
		</tr>
	</thead>
	<tbody>
		<% @view3.each do |v3| %>
		<tr>
			<td><%= v3.id %></td>
			<td><%= v3.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>


<div class = "row">
	<h1>View 7: <small>Lists all aliases for a certain tag with
tag_id
Here, tag_id is “4”
</small></h1>
	<h4>SQL Query:</h4>
	<code>"SELECT
										tag_aliases.name
										FROM
										tags  JOIN tag_aliases on tags.id =
										tag_aliases.tag_id
										WHERE
										tags.id = 4"</code>
<div class = "row">
<table class = "table">
	<thead>
		<tr>
			<th>Tag Alias</th>
		</tr>
	</thead>
	<tbody>
		<% @view7.each do |v7| %>
		<tr>
			<td><%= v7.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
