
<div class = "jumbotron">

    <div class = "container-fluid">
      <h2> Tag pool: </h2>
      <% @tags.each do |tag| %>
      <a class="btn btn-primary" href = <%= tag_path(tag) %>> <%=tag.name.titleize%> <span class="badge"><%= tag.likes.size %></span> </a>
      <% end %>
      <div class = "row">
        <div class = "col-md-4 col-md-offset-3">
          <h2></h2>
      <a class = "btn btn-primary btn-lg btn-block" href = <%= new_tag_path %>> Add a new tag </a>
  </div>
</div>
</div>
</div>
