<h1> <%= @tag.name %></h1>
<h2>Served in <%= pluralize(@tag.restaurants.distinct.size, 'restaurant') %> with <%= pluralize(@tag.likes.size, 'like')%>!</h2>
<div class = "row">
	<% @tag.restaurants.distinct.each do |restaurant| %>
	<div class = "col-md-4">
		<h3><%= link_to restaurant.name, restaurant %> </h3>
		<h4><%= pluralize(restaurant.likes.size, 'like')%></h4>
	</div>
	<% end %>
</div>

<div class = "row">
	    <div class = "container-fluid">
		      <h2> Tag aliases pool: <small>click on an alias to delete</small> </h2>
			      <% @tag.tag_aliases.each do |tag_alias| %>
			      	
			      		<div style="float: left; width: auto;">
			      			<p>
			     			
			     			 <%= button_to tag_alias.name.titleize, [tag_alias.tag, tag_alias], method: :delete, data: {confirm: 'Are you sure?'}, :class =>"btn btn-primary" %>
			     	 		</p>
			     	</div>
			     	
		      	  <% end %>

		</div>
</div>
<h2></h2>
<%= link_to 'New Tag alias', new_tag_tag_alias_path(@tag), :class =>"btn btn-primary" %>