<%= simple_form_for [@restaurant, @restaurant_location], url: restaurant_restaurant_locations_path do |f| %>
  <%= f.error_notification %>
  <%= f.input :address %>
  <%= f.input :phone %>
  <%= f.input :city %>
  <%= f.association :restaurant %>
  <%= f.button :submit %>
<% end %>