<h1>Listing restaurant_locations</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Phone</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>City</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_locations.each do |restaurant_location| %>
      <tr>
        <td><%= restaurant_location.address %></td>
        <td><%= restaurant_location.phone %></td>
        <td><%= restaurant_location.lat %></td>
        <td><%= restaurant_location.lng %></td>
        <td><%= restaurant_location.city %></td>
        <td><%= restaurant_location.restaurant %></td>
        <td><%= link_to 'Show', restaurant_restaurant_locations_url %></td>
        <td><%= link_to 'Destroy', restaurant_restaurant_location_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant location', new_restaurant_location_path %>
