<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @restaurant_location.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant_location.phone %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @restaurant_location.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @restaurant_location.lng %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant_location.city %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @restaurant_location.restaurant %>
</p>

<%= link_to 'Edit', edit_restaurant_location_path(@restaurant_location) %> |
<%= link_to 'Back', restaurant_locations_path %>
