<h1>Restaurants</h1>
<h2><%= pluralize(@restaurants.size, 'restaurant') %> recorded in the database.</h2>
<div class = "row">
  <% @restaurants.each do |restaurant| %>
  <div class = "col-md-4">
    <h3><%= link_to restaurant.name, restaurant %> </h3>
    <h4><%= pluralize(restaurant.likes.size, 'like')%></h4>
    <h4><%= pluralize(restaurant.tags.distinct.size, 'tag')%></h4>
  </div>
  <% end %>
</div>
        <div class = "col-md-4 col-md-offset-3">
          <h2></h2>
          <a class = "btn btn-primary btn-lg btn-block" href = <%= new_restaurant_path %>> Add a new restaurant. </a>
        </div>

