<h1><%= @restaurant.name %></h1>
<h2>Has <%= pluralize(@restaurant.restaurant_locations.size, 'location') %>.</h2>

   <div class = "row">
	    <div class = "container-fluid">
		      <h2> Serves:  </h2>
		      	<% if @restaurant.tags.empty? %>
		      	<h4>This restaurant has not been tagged yet!</h4>
		      	<% else %>
			      <% @restaurant.tags.distinct.each do |tag| %>
			      	<div class = "col-md-3">
			      		
			      			<p>
			     			 <button class="btn btn-primary" type="button"> <%= tag.name.titleize %> <span class="badge"><%= @restaurant.tags.where(id: tag.id).size %></span>
			     	 		</p>
			     	</div>
			     	
		      	  <% end %>
		      	  <% end%>
		      	  

		</div>
</div>

<div class = "row">
  <% @restaurant.restaurant_locations.each do |location| %>
  <div class = "col-md-4">
    <h3><%= location.city.titleize %> </h3>
    <h4><%= location.address %></h4>
    <h4><%= location.phone %></h4>
  </div>
  <% end %>
</div>


<div class = "row">

        <div class = "col-md-4 col-md-offset-3">
          <h2></h2>
          <a class = "btn btn-primary btn-lg btn-block" href = <%= new_restaurant_restaurant_location_path(@restaurant) %>> Add a new location. </a>
        </div>
    </div>
    <h2></h2>


   <div class = "row">
	    <div class = "container">
		      <h2> Restaurant aliases pool: <small>click on an alias to delete.</small> </h2>
			      <% @restaurant.restaurant_aliases.each do |restaurant_alias| %>
			      	
			      		<div style="float: left; width: auto;">
			      			<p>
			     			
			     			 <%= button_to restaurant_alias.name.titleize, [restaurant_alias.restaurant, restaurant_alias], method: :delete, data: {confirm: 'Are you sure?'}, :class =>"btn btn-primary" %>
			     	 		</p>
			     	</div>
			     	
		      	  <% end %>
		      	  

		</div>
</div>
<div class = "row">
	<div class = "container">
<%= link_to 'New restaurant alias', new_restaurant_restaurant_alias_path(@restaurant), :class =>"btn btn-primary" %>
</div>
</div>

