<%= simple_form_for [@restaurant, @restaurant_alias], url: restaurant_restaurant_aliases_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :restaurant %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


