<h1>Listing restaurant_aliases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_aliases.each do |restaurant_alias| %>
      <tr>
        <td><%= restaurant_alias.name %></td>
        <td><%= restaurant_alias.restaurant %></td>
        <td><%= link_to 'Show', restaurant_restaurant_aliases_path %></td>
        <td><%= link_to 'Destroy', [restaurant_alias.restaurant, restaurant_alias], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant alias', new_restaurant_restaurant_alias_path %>
