<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant_alias.name %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @restaurant_alias.restaurant %>
</p>

<%= link_to 'Edit', edit_restaurant_alias_path(@restaurant_alias) %> |
<%= link_to 'Back', restaurant_aliases_path %>
