<!DOCTYPE html>
<html>
<head>
  <title>Taglicious</title>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class = "navbar-inner">
			<div class = "container">
				<a class = "navbar-brand" href= <%= root_url %> >Taglicious</a>

				<ul class = "nav navbar-nav pull-left">
					<li> <%= link_to 'Restaurants', restaurants_path %> </li>
					<li> <%= link_to 'Tags', tags_path %> </li>
					<li> <%= link_to 'Views', "/views" %> </li>
				</ul>

				<ul class = "nav navbar-nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to current_user.name, root_url %></li>
					 	<li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>
					 <% else %>
					 	<li><%= link_to "Sign in using Twitter", user_omniauth_authorize_path(:twitter) %></li>
					 <% end %>
				</ul>
			</div>
		</div>
	</div>

<body>
	<div class="container"> 
		<div class = "row">
			<% if flash[:notice] %>
				<div class = "alert alert-success">
					<button type = "button" class = "close" data-dismiss = "alert">x</button>
					<%= flash[:notice] %>
				</div>
			<% end %>

			<% if flash[:alert] %>
				<div class = "alert alert-dismissable alert-danger">
					<button type = "button" class = "close" data-dismiss = "alert">x</button>
					<%= flash[:alert] %>
				</div>
			<% end %>
				<%= yield %>

			
			
		</div>
	</div>
</body>
</html>
